Repository Rigohl/PythonWebScraper, changes with the labels that .github/labeler.yml gives for each.
All labels: area/tui, area/orchestrator, area/llm, area/database, area/tests, .github/**

a
  1-Install-Dependencies.bat
  install_log.txt
  logs/scraper_run.md
Labels: none

a
  1-Install-Dependencies.bat
  install_log.txt
  logs/scraper_run.md
Labels: none

chore(github): nightly-smoke, policy-learner, scorecard, issue-forms, auto-policy
  .github/scraper-policy.json
  .github/workflows/nightly-smoke.yml
  .github/workflows/policy-learner.yml
  sitecustomize.py
  src/_autopolicy.py
Labels: .github/**

chore(github): nightly-smoke, policy-learner, scorecard, issue-forms, auto-policy
  .github/scraper-policy.json
  .github/workflows/nightly-smoke.yml
  .github/workflows/policy-learner.yml
  sitecustomize.py
  src/_autopolicy.py
Labels: .github/**

chore: CI (Nightly/PolicyLearner/Scorecard/Drift/DQ), auto-policy, templates, dependabot, codeql
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/data-quality.yml
  .github/workflows/drift-check.yml
  .github/workflows/nightly-smoke.yml
  .github/workflows/policy-learner.yml
  1-Install-Dependencies.bat
  requirements.txt
  src/_autopolicy.py
Labels: .github/**

chore: CI (Nightly/PolicyLearner/Scorecard/Drift/DQ), auto-policy, templates, dependabot, codeql
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/data-quality.yml
  .github/workflows/drift-check.yml
  .github/workflows/nightly-smoke.yml
  .github/workflows/policy-learner.yml
  1-Install-Dependencies.bat
  requirements.txt
  src/_autopolicy.py
Labels: .github/**

.
  src/1-install-dependencies.sh
Labels: none

.
  src/1-install-dependencies.sh
Labels: none

feat: Mejorar CI, orquestador y compatibilidad con Linux
  .github/workflows/nightly-smoke.yml
  1-Install-Dependencies.sh
  README.md
  src/llm_extractor.py
  src/orchestrator.py
Labels: area/orchestrator, area/llm, .github/**

feat: Mejorar CI, orquestador y compatibilidad con Linux
  .github/workflows/nightly-smoke.yml
  1-Install-Dependencies.sh
  README.md
  src/llm_extractor.py
  src/orchestrator.py
Labels: area/orchestrator, area/llm, .github/**

.github/labeler.yml:

"area/tui": [ "src/**/tui*", "src/**/textual*" ]
"area/orchestrator": [ "src/**/orchestrator*" ]
"area/llm": [ "src/**/llm*" ]
"area/database": [ "src/**/database*" ]
"area/tests": [ "tests/**" ]
".github/**": [ ".github/**" ]
